.main-content-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.component {
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  flex-grow: 1; /* Add this line to make the components fill the available space */
}

.component-1 {
  width: 1000px;
}

.component-2 {
  background-color: rgb(96, 22, 22);
}

.component-3 {
  background-color: rgb(168, 99, 99);
}

.component-4 {
  background-color: rgb(0, 255, 26);
}