@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  font-family: "Plus Jakarta Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 2%;
  color-scheme: light dark;
  color: #56555c;
  background-color: #FBFBFB;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 15px;
  font-weight: 400;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

small{
  font-size: 10px;
  font-weight: 400;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 12px;
  font-weight: 600;
  font-family: inherit;
  background-color: #49ccf9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #56555c;
    background-color: #FBFBFB;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #49ccf9;
  }
}
